<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** MICHELLE BRISA VALADEZ TOVAR, LUIS ANTONIO BARRIGA ADAME.

**Fecha:** 05 de febrero del 2023.

**Expediente** : , 730512.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/Luis168735/ProyectoConjunto_MB_Valadez_LA_Barriga

# Tarea 2: Clase 4

## Enunciado de tarea (Transcibirlo)
> Descripción de la tarea:
1) Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. Escribe un programa Python usando unicamente las funciones lambda y map.

2) Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función Reduce. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

3) Resolver los anteriores ejercicios usando pandas (DataFrame)

4) Use filter to eliminate all words that are shorter than 4 letters from a list of words list='the notion of a lambda function goes all the way back to the origin of computer science'

5) Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

6) Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

### Ejercicio 1: (enunciado) Transcribirlo

Código de solución estudiante 1

In [1]:
# Código de solución estudiante 1
import numpy as np
import pandas as pd
import time,math 
import matplotlib.pyplot as plt
from functools import reduce

orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]


solucion1= list(map(lambda x:[x[0], (x[2] * x[3] + 10) if (x[2] * x[3]) <= 100 else (x[2] * x[3])], orders))
solucion1

[['34587', 163.8],
 ['98762', 284.0],
 ['77226', 108.85000000000001],
 ['88112', 84.97]]

In [2]:
orders_df= pd.DataFrame(orders)
orders_df=pd.DataFrame(orders,columns=["Order Number", "Book Title and Author","Quantity","Price per Item"])
#orders_df
orders_df["Total"] = (orders_df["Quantity"]*orders_df["Price per Item"])
orders_df["Total"] = (orders_df["Quantity"]*orders_df["Price per Item"]).where(orders_df["Total"] >= 100, orders_df["Total"] + 10)
solucion3_df = pd.DataFrame(orders_df,columns=["Order Number","Total"])
solucion3_df

  Order Number   Total
0        34587  163.80
1        98762  284.00
2        77226  108.85
3        88112   84.97

In [3]:
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

solucion2= list(map(lambda x: [x[0], reduce(lambda y, z: y + z[1] * z[2], x[1:], 0) if reduce(lambda y, z: y + z[1] * z[2], x[1:], 0) <= 100 else reduce(lambda y, z: y + z[1] * z[2], x[1:], 0) + 10], orders2))

solucion2

[[1, 688.3299999999999],
 [2, 504.46000000000004],
 [3, 374.79999999999995],
 [4, 502.57]]

In [5]:
#orders2_df= pd.DataFrame(orders2)
#orders2_df= pd.DataFrame(orders2,columns=["Numero de orden", "Numero de articulo","Cantidad","Precio por unidad"])
solucion2_df= pd.DataFrame(solucion2)
solucion2_df

   0       1
0  1  688.33
1  2  504.46
2  3  374.80
3  4  502.57

In [ ]:
# El .split() sirve para dividir la cadena en una lista de palabras.
# Se usa len para saber la longitud de las palabras.

problema4= 'the notion of a lambda function goes all the way back to the origin of computer science' .split()
solucion4 = list(filter(lambda x: len(x) >=4, problema4))
solucion4

In [ ]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
#print(temperatures)

solucion5= list(filter(lambda x: (x >=32) & (x <=80), temperatures))
solucion5

In [ ]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
#print(point_xy)

solucion6 = np.minimum.reduce(point_xy)
solucion6

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........